<div class="flex flex-col" *ngIf="data.length > 0; else noData">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <!-- Aquí van tus encabezados de tabla -->
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr *ngFor="let item of data">
                <!-- Aquí van tus filas de tabla -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-between p-8">
        <button (click)="prevPage()" [disabled]="currentPage === 1" class="px-3 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Anterior</button>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="px-3 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Siguiente</button>
      </div>
  </div>
  
  
  
  <ng-template #noData>
    <div class="text-center text-xl">No hay datos disponibles.</div>
  </ng-template>
  