<!-- <body class="container-register">
    <router-outlet></router-outlet>
<shared-footer></shared-footer>

</body> -->
<!-- <div class="container-register">
    <router-outlet/>
</div> -->

<body>
    <div id="wrapper">
            <div class="container">
                <router-outlet></router-outlet>            
            </div>
        <footer>
            <!-- <div class="container">
                <shared-footer></shared-footer>
            </div> -->
            <shared-footer/>
        </footer>
    </div>
</body>